<h2>Products</h2>

<div>
  <div *ngFor="let product of products" class="product-info">
    <h3>
      <a [title]="product.name + ' details'"
         [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <a href="{{product.link}}"><img [src]="product.image" alt="{{ product.name }}" height = "200" width="250"></a>
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>

    <button type="button">
      Share
      <share-buttons theme="circles-dark"
                     [include]="['telegram','whatsapp']"
                     [showIcon]="true"
                     [showText]="false"
                     url={{product.link}}>
      </share-buttons>
    </button>

  </div>
</div>


<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
