<h2>Products</h2>

<div>
<!--  <div class="categories">-->
<!--    <a href="">Category 1</a><br>-->

<!--    <div *ngFor="let product of products" class="product-category">-->
<!--      <a [title]="product.name + ' list'"-->
<!--         [routerLink]="['/products', product.category]">Category 2</a>-->
<!--    </div>-->

<!--  </div>-->

  <div *ngFor="let product of products" class="product-info">
    <h3>
      <a [title]="product.name + ' details'"
         [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <a href="{{product.link}}"><img [src]="product.image" alt="{{ product.name }}" height = "200" width="250"></a>
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>

    <button type="button">
      Share
      <share-buttons theme="circles-dark"
                     [include]="['telegram','whatsapp']"
                     [showIcon]="true"
                     [showText]="false"
                     [url]="product.link">
      </share-buttons>
    </button>

  </div>
</div>


