<div *ngIf="loaded">                  <!--if post loaded-->
  <h2>Post Detail #{{post.id}}</h2>
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>

<h2>{{ post.title }}</h2>
<input type="text" [(ngModel)]="post.title" />

<button type="button" (click)="this.loaded=true">Edit</button>
<div *ngIf="loaded">
  <h3>New Title</h3>
  <input type="text" [(ngModel)]="edittedPost.title">
  <button type="button" (click)="savePost()">Save</button>
</div>

<button (click)="goToPhotos()">Photos</button>
<button (click)="goBack()">Back</button>

<h3 *ngIf="!loaded">Post item is loading...</h3>
